body,
.section,
.hero {
  color: #3E3A3B;
  background-color: #E5E4F2;
}

.hero.is-primary,
.nav {
  color: #3E3A3B;
  background-color: #FFD524;
}

.nav {
  border-bottom: 1px solid #DBB40D;
}

.input {
  border-color: #31327F;
  -webkit-transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  -ms-transition: border-color 0.2s ease-in-out;
  -o-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

.input:hover {
  border-color: #B47C9F;
}

.input:focus {
  border-color: #B47C9F;
}

.control.has-icon .icon {
  color: #B7B7E3;
}

.footer {
  color: #3E3A3B;
  background-color: #9CDAE5;
  font-size: 1rem;
  border-top: 1px solid #72B9C5;
}

.nav-item a,
a.nav-item,
a.nav-item:link,
a.nav-item:visited,
a.nav-item:active {
  color: #3E3A3B;
}

a,
a:link,
a:visited,
a:active {
  color: #B47C9F;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

a:hover,
a:focus,
.nav-item a.is-active,
.nav-item a:hover,
a.nav-item.is-active,
a.nav-item:hover {
  color: #B47C9F;
}

.label,
.subtitle,
.title {
  color: #3E3A3B;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 1.3rem;
}

.content,
.content strong {
  color: #3E3A3B;
}

#root {
  flex: 1 0 auto;
}

.button.swarm-button {
  background-color: #f39e2e;
  color: #fff;
}

.button.swarm-button:hover,
.button.swarm-button:focus {
  background-color: #f4ab43;
  color: #fff;
}

.foursquare-avatar {
  margin-right: 8px;
  border-radius: 2px;
  width: 25px;
  height: 25px;
}

.large-foursquare-avatar {
  border-radius: 10px;
}

.username {
  font-weight: 700;
}

.username:before,
.space-before:before,
.space-after:after {
  content: "\a0";
}

span.control,
.inline-block {
  display: inline-block;
}

.is-large.label {
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 48px;
  vertical-align: top;
}

.control.has-icon .icon.is-large {
  height: 2rem;
  font-size: 32px;
}

.control.has-icon:not(.has-icon-right) .icon.is-large {
  left: 1.3rem;
}

.control.has-icon:not(.has-icon-right) .input.is-large {
  padding-left: 1.8em;
}

.footer .separator {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}

.checkins-list,
.checkins-list-header {
  font-size: 1rem;
}

.checkins-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkins-list-header {
  margin-top: 60px;
}

.checkins-list .separator,
.checkin-time {
  color: #8A8BD7;
}

.checkins-list .separator {
  display: inline-block;
}

.extra-visit-field {
  display: inline-block;
  width: auto;
  font-weight: 700;
}

.input-line-height {
  line-height: 32px;
}

.quote,
.is-brand {
  font-weight: 700;
}
