body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#root {
  flex: 1 0 auto;
}

.button.foursquare-button {
  background-color: #3455de;
  color: #fff;
}

.button.foursquare-button:hover,
.button.foursquare-button:focus {
  background-color: #526ee3;
  color: #fff;
}

.foursquare-avatar {
  margin-right: 5px;
  border-radius: 2px;
  width: 25px;
  height: 25px;
}

.username {
  font-weight: 700;
}

.username:before,
.space-before:before,
.space-after:after {
  content: "\a0";
}

span.control,
.inline-block {
  display: inline-block;
}

.is-large.label {
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 48px;
  vertical-align: top;
}

.control.has-icon .icon.is-large {
  height: 2rem;
  font-size: 32px;
}

.control.has-icon:not(.has-icon-right) .icon.is-large {
  left: 1.3rem;
}

.control.has-icon:not(.has-icon-right) .input.is-large {
  padding-left: 1.8em;
}

.footer .separator {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}

.checkins-list .separator {
  display: inline-block;
  color: #999;
}

.checkin-name {
  font-weight: 700;
}

.checkin-time {
  color: #999;
}

.extra-visit-field {
  display: inline-block;
  width: auto;
  font-weight: 700;
}

.input-line-height {
  line-height: 32px;
}
